# IntelliJ / VSCode
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Java
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# Node
**/node_modules/
**/dist/

# Logs
*.log

# Env
backend/deploy/docker/.env
